.app {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.button {
  background-color: orange;
  height: 30px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.button:hover {
  background-color: darkorange;
  cursor: pointer;
}

.cart-pizza {
  display: flex;
  justify-content: space-around;
  background: lightgray;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cart-pizza-item {
  padding: 5px;
}